<app-navbar></app-navbar>
<router-outlet></router-outlet>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
<link rel="stylesheet" href="https://mdbootstrap.com/previews/ecommerce-demo/css/mdb.ecommerce.min.css" />
<!-- <link rel="stylesheet" href="https://mdbootstrap.com/previews/ecommerce-demo/css/mdb-pro.min.css" /> -->
<!-- <link rel="stylesheet" href="https://mdbootstrap.com/previews/ecommerce-demo/css/bootstrap.min.css" /> -->

<footer class="page-footer font-small bg-dark">
    <div class="color-primary">
        <div class="container">
            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 text-white-50">Get connected with us on social networks!</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f text-light mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter text-light mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram text-light"> </i>
                    </a>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row-->
        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left pt-4 pt-md-5 text-white-50">
        <!-- Grid row -->
        <div class="row mt-1 mt-md-0 mb-4 mb-md-0">
            <!-- Grid column -->
            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4 ">
                <!-- Links -->
                <h5>About us</h5>
                <hr class="color-light mb-4 mt-0 d-inline-block mx-auto w-60" />

                <ul class="list-unstyled foot-desc ">
                    <li class="mb-2">
                        <a class="text-light" href="#!">About us</a>
                    </li>
                    <li class="mb-2">
                        <a class="text-light" href="#!">Terms of use</a>
                    </li>
                    <li class="mb-2">
                        <a class="text-light" href="#!">Privacy policy</a>
                    </li>
                    <li class="mb-2">
                        <a class="text-light" href="#!">Our brands</a>
                    </li>
                    <li class="mb-2">
                        <a class="text-light" href="#!">Corporate social responsibility</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none" />

            <!-- Grid column -->
            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
                <!-- Links -->
                <h5>Your account</h5>
                <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60" />

                <ul class="list-unstyled foot-desc">
                    <li class="mb-2">
                        <a class="text-light" href="#!">Sign in</a>
                    </li>
                    <li class="mb-2">
                        <a class="text-light" href="#!">Sign up</a>
                    </li>
                    <li class="mb-2">
                        <a class="text-light" href="#!">Your orders</a>
                    </li>
                    <li class="mb-2">
                        <a class="text-light" href="#!">Account settings</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none" />

            <!-- Grid column -->
            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
                <!-- Links -->
                <h5>Payments and delivery</h5>
                <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60" />

                <ul class="list-unstyled foot-desc">
                    <li class="mb-2">
                        <a class="text-light" href="#!">Free shipping</a>
                    </li>
                    <li class="mb-2">
                        <a class="text-light" href="#!">Zero waste shipments</a>
                    </li>
                    <li class="mb-2">
                        <a class="text-light" href="#!">Payments</a>
                    </li>
                    <li class="mb-2">
                        <a class="text-light" href="#!">Shipping and returns</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none" />

            <!-- Grid column -->
            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
                <!-- Links -->
                <h5>Contacts</h5>
                <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60" />

                <ul class="fa-ul foot-desc ml-4">
                    <li class="mb-2">
                        <span class="fa-li"><i class="far fa-map"></i></span>New York,
                        Avenue Street 10
                    </li>
                    <li class="mb-2">
                        <span class="fa-li"><i class="fas fa-phone-alt"></i></span>042 876
                        836 908
                    </li>
                    <li class="mb-2">
                        <span class="fa-li"><i class="far fa-envelope"></i></span>company@example.com
                    </li>
                    <li>
                        <span class="fa-li"><i class="far fa-clock"></i></span>Monday -
                        Friday: 10-17
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white-50">
        © 2020 Copyright:
        <a class="text-light" href="https://mdbootstrap.com/"> JIPPI</a>
    </div>
</footer>