.container {
  position: relative;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 100px auto;
  text-align: center;
  display: block;
  border: 1px solid;
  border-radius: 3%;
  border-color: #D5DBDB;
  background-color: white;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.text-center {
  text-align: center !important;
}

#inputEmail {
  margin-bottom: 1.5rem;
}

#inputPassword {
  margin-bottom: 1.5rem;
}

.main-container{
  background-color: rgb(238, 238, 238);
  position: relative;
  width: 100%;
  padding:70px
}