<div
  class="container emp-profile"
  *ngFor="let elm of company_Data; index as i"
  style="
    margin-top: 5%;
    border: 1px solid;
    border-radius: 1%;
    border-color: grey;
    padding: 100px;
  "
>
  <div method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img
            [src]="
              elm.avatar
                ? elm.avatar
                : 'https://www.flaticon.com/svg/static/icons/svg/3061/3061341.svg'
            "
            style="width: 80%"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h1>
            {{ elm.companyName }}
          </h1>
          <br />
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >About</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <input
          type="submit"
          class="profile-edit-btn"
          name="btnAddMore"
          value="Edit Profile"
          [routerLink]="['/company/edit']"
        />
      </div>
    </div>
    <div class="form_test">
      <div class="row">
        <div class="col-md-8">
          <div class="tab-content profile-tab" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <div class="row">
                <div class="col-md-6">
                  <label>Email</label>
                </div>
                <div class="col-md-6">
                  <p>{{ elm.companyEmail }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Phone number</label>
                </div>
                <div class="col-md-6">
                  <p>{{ elm.phoneNumber }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Comapny location</label>
                </div>
                <div class="col-md-6">
                  <p>{{ elm.location }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
