<!-- <div class="main-container">
  <div class="container">
    <div class="container emp-profile" *ngFor="let elm of company_Data; index as i">
      <div method="post">
        <div class="row">
          <div class="col-md-4 ">
            <div class="profile-img">
              <img [src]="elm.avatar ? elm.avatar : '/assets/company.png'" alt="" style="width: 80%" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="profile-head">
              <h1>
                {{ elm.companyName }}
              </h1>
              <br />
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                    aria-controls="home" aria-selected="true">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">Timeline</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"
              [routerLink]="['/company/edit']" />
          </div>
        </div>
        <div class="form_test">
          <div class="row">
            <div class="col-md-8">
              <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Email</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{ elm.companyEmail }}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Phone number</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{ elm.phoneNumber }}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Comapny location</label>
                    </div>
                    <div class="col-md-6">
                      <p>{{ elm.location }}</p>
                    </div>
                  </div>
                </div>


                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Experience</label>
                    </div>
                    <div class="col-md-6">
                      <p>Expert</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Hourly Rate</label>
                    </div>
                    <div class="col-md-6">
                      <p>10$/hr</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Total Projects</label>
                    </div>
                    <div class="col-md-6">
                      <p>230</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>English Level</label>
                    </div>
                    <div class="col-md-6">
                      <p>Expert</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Availability</label>
                    </div>
                    <div class="col-md-6">
                      <p>6 months</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label>Your Bio</label><br />
                      <p>Your detail description</p>
                    </div>
                  </div> -->

<!-- <div

  class="container emp-profile"
  *ngFor="let elm of company_Data; index as i"
  style="
    margin-top: 5%;
    border: 1px solid;
    border-radius: 1%;
    border-color: grey;
    padding: 100px;
  "
>
  <div method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">

          <img
            [src]="elm.avatar ? elm.avatar : '/assets/company.png'"
            style="width: 80%"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h1>
            {{ elm.companyName }}
          </h1>
          <br />
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >About</a
              >

            </li>


            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <input
          type="submit"
          class="profile-edit-btn"
          name="btnAddMore"
          value="Edit Profile"
          [routerLink]="['/company/edit']"
        />
      </div>
    </div>
    <div class="form_test">
      <div class="row">
        <div class="col-md-8">
          <div class="tab-content profile-tab" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <div class="row">
                <div class="col-md-6">
                  <label>Email</label>
                </div>
                <div class="col-md-6">
                  <p>{{ elm.companyEmail }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Phone number</label>
                </div>
                <div class="col-md-6">
                  <p>{{ elm.phoneNumber }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Comapny location</label>
                </div>
                <div class="col-md-6">

                  <p>{{ elm.location }}</p> -->

<!-- </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->














<section class="profile">
  <header class="header">

    <div class="details" *ngFor="let elm of company_Data; index as i">
      <div class="text-right">
        <button type=" button" class="btn btn-outline-light" [routerLink]="['/company/edit']"> <i
            class="fas fa-edit"></i> Edit profile</button>
      </div>
      <img [src]="elm.avatar ? elm.avatar : '/assets/company.png'" alt="John Doe" class="profile-pic">
      <h1 class="heading">{{ elm.companyName }}</h1>
      <div class="location">
        <svg width="18" height="18" viewBox="0 0 24 24" fill="currentColor">
          <path
            d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12 ,2Z">
          </path>
        </svg>
        <p>{{ elm.location || 'unknown'}}</p>
      </div>
      <div class="stats">
        <div class="col-4">
          <h4> Email :</h4>
          <p>{{ elm.companyEmail }}</p>
        </div>
        <div class="col-4">
          <h4>Phone number :</h4>
          <p>{{ elm.phoneNumber || 'unknown'}}</p>
        </div>
        <div class="col-4">
          <h4>Timing work :</h4>
          <p>{{elm.timing || 'Dont have specified time'}}</p>
        </div>
      </div>
    </div>
  </header>
</section>




<app-company-home></app-company-home>