<section class="profile">
  <header class="header">
    <div class="details" *ngFor="let elm of company_Data; index as i">
      <div class="text-right">
        <button
          type=" button"
          class="btn btn-outline-light"
          [routerLink]="['/company/edit']"
        >
          <i class="fas fa-edit"></i> Edit profile
        </button>
      </div>
      <img
        [src]="elm.avatar ? elm.avatar : '/assets/company.png'"
        alt="John Doe"
        class="profile-pic"
      />
      <h1 class="heading">{{ elm.companyName }}</h1>
      <div class="location">
        <svg width="18" height="18" viewBox="0 0 24 24" fill="currentColor">
          <path
            d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12 ,2Z"
          ></path>
        </svg>
        <p>{{ elm.location || "unknown" }}</p>
      </div>
      <div class="stats">
        <div class="col-4">
          <h4>Email :</h4>
          <p>{{ elm.companyEmail }}</p>
        </div>
        <div class="col-4">
          <h4>Phone number :</h4>
          <p>{{ elm.phoneNumber || "unknown" }}</p>
        </div>
        <div class="col-4">
          <h4>Working time :</h4>
          <p>{{ elm.timing || "Dont have specified time" }}</p>
        </div>
      </div>
    </div>
  </header>
</section>

<app-company-home></app-company-home>
