<div class="container">
  <h1>Edit Profile</h1>
  <hr />
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img
          id="avatar"
          [src]="url ? url : 'https://ptetutorials.com/images/user-profile.png'"
          class="avatar img-circle"
          alt="avatar"
          width="100%"
        />
        <h6>Upload a different photo...</h6>

        <input
          type="file"
          class="form-control"
          (change)="onSelectFile($event)"
        />
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-9 personal-info">
      <div
        class="alert alert-info alert-dismissable"
        *ngIf="alertt === 'Success update'"
      >
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
        <strong>Success!</strong> {{alertt}}
      </div>
      <div
        class="alert alert-danger alert-dismissible"
        *ngIf="alertt === 'Some think rong'"
      >
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
        <strong>Error!</strong> {{alertt}}
      </div>
      <h3>Personal info</h3>

      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input
              class="form-control"
              type="text"
              name="firstName"
              [(ngModel)]="firstName"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input
              class="form-control"
              type="text"
              name="lastName"
              [(ngModel)]="lastName"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Phone number:</label>
          <div class="col-lg-8">
            <input
              class="form-control"
              type="tel"
              name="phoneNumber"
              value="222399"
              [(ngModel)]="phoneNumber"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input
              class="form-control"
              type="email"
              name="email"
              [(ngModel)]="email"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Adress:</label>
          <div class="col-lg-8">
            <input
              class="form-control"
              type="text"
              name="adress"
              [(ngModel)]="adress"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Password:</label>
          <div class="col-md-8">
            <input
              class="form-control"
              type="password"
              name="password"
              placeholder="New password"
              [(ngModel)]="password"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Confirm password:</label>
          <div class="col-md-8">
            <input
              class="form-control"
              type="password"
              name="confirmPassword"
              placeholder="Confirm new password"
              [(ngModel)]="confirmPassword"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input
              type="button"
              class="btn btn-primary"
              value="Save Changes"
              (click)="check();updateCustomerInfo()"
            />
            <span></span>
            <input type="reset" class="btn btn-default" value="Cancel" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr />
