.container {
  position: relative;
  top:-50px;
  /* margin-top: 8%; */
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-top: 5em;
  border: 1px solid ;
  border-radius: 3%;
  border-color: #B2BABB;
  background-color:white;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.text-center {
  text-align: center !important;
}

.main-container {
  background-color: rgb(238, 238, 238);
  position: relative;
  width: 100%;
  padding: 70px
}

#inputEmail {
  margin-bottom: 1.5rem;
}

#inputPassword {
  margin-bottom: 1.5rem;
}

.custom-file-input {
  cursor: pointer;
}