<!-- Card -->
<div class="achref">
  <div class="view zoom overlay z-depth-2 rounded">
    <img class="img-fluid w-100" src="{{ companyItems.itemImage }}" />
  </div>

  <div class="text-center pt-4">
    <h5>{{ companyItems.itemName }}</h5>
    <p class="mb-2 text-muted text-uppercase small">
      {{ companyItems.itemKind }}
    </p>
    <hr style="width: 70%" />
    <h6 class="mb-3">{{ companyItems.itemPrice }} TD</h6>
    <button type="button" class="btn btn-danger btn-sm mr-1 mb-2">
      Delete
    </button>
    <button type="button" class="btn btn-light btn-sm mr-1 mb-2">Update</button>
  </div>
</div>
<!-- Card -->
