#main {
    width: 100%;
}

.input-group{
    margin-top:4%;
    margin-bottom: 4%;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.main-container {
  background-color: rgb(238, 238, 238);
  position: relative;
  width: 100%;
  padding: 70px
}