<!-- Section: Sidebar -->
<section class="card">
  <!-- Section: Filters -->
  <section>
    <h5 id="shopBy">Shop by categories</h5>
    <br />
    <br />

    <!-- Section: Condition -->
    <section class="mb-4">
      <h6 class="font-weight-bold mb-3">categories</h6>

      <!-- choice categories from this slides -->
      <div>
        <li>
          <button class="btn bg-transparent" data-toggle="collapse" data-target="#cate1">
            Electronics
          </button>

          <div id="cate1" class="collapse">
            <ul>
              <li class="list">
                <input type="checkbox" name="Camera & Photo" value="Camera & Photo"
                  [(ngModel)]="items_kinds['Camera & Photo']" />Camera & Photo
              </li>
              <li class="list">
                <input type="checkbox" name="Computers" [(ngModel)]="items_kinds['Computers']"
                  value="Computers" />Computers
              </li>
              <li class="list">
                <input type="checkbox" name="Wearable Technology" [(ngModel)]="items_kinds['Wearable Technology']"
                  value="Wearable Technology" />Wearable Technology
              </li>
              <li class="list">
                <input type="checkbox" name="Cell Phones" [(ngModel)]="items_kinds['Cell Phones']"
                  value="Cell Phones" />Cell Phones
              </li>
            </ul>
          </div>
        </li>
        <li>
          <button class="btn bg-transparent" data-toggle="collapse" data-target="#cate2">
            Clothes
          </button>

          <div id="cate2" class="collapse">
            <ul>
              <li class="list">
                <input type="checkbox" name="Male" value="Male" [(ngModel)]="items_kinds['Male']" />Male
              </li>
              <li class="list">
                <input type="checkbox" name="Female" value="Female" [(ngModel)]="items_kinds['Female']" />Female
              </li>
              <li class="list">
                <input type="checkbox" name="Kids" value="Kids" [(ngModel)]="items_kinds['Kids']" />Kids
              </li>
            </ul>
          </div>
        </li>
        <li>
          <button class="btn bg-transparent" data-toggle="collapse" data-target="#cate3">
            Toys
          </button>

          <div id="cate3" class="collapse">
            <ul>
              <li class="list">
                <input type="checkbox" name="Action figures" value="Action figures"
                  [(ngModel)]="items_kinds['Action figures']" />Action figures
              </li>
              <li class="list">
                <input type="checkbox" name="Animals" value="Animals" [(ngModel)]="items_kinds['Animals']" />Animals
              </li>
              <li class="list">
                <input type="checkbox" name="Cars and radio controlled" value="Cars and radio controlled"
                  [(ngModel)]="items_kinds['Cars and radio controlled']" />Cars and radio controlled
              </li>
              <li class="list">
                <input type="checkbox" name="Dolls" value="Dolls" [(ngModel)]="items_kinds['Dolls']" />Dolls
              </li>
              <li class="list">
                <input type="checkbox" name="Creative toys" value="Creative toys"
                  [(ngModel)]="items_kinds['Creative toys']" />Creative toys
              </li>
            </ul>
          </div>
        </li>
        <li>
          <button class="btn bg-transparent" data-toggle="collapse" data-target="#cate4">
            Outdoor
          </button>

          <div id="cate4" class="collapse">
            <ul>
              <li class="list">
                <input type="checkbox" name="camping" value="camping" [(ngModel)]="items_kinds['camping']" />camping
              </li>
              <li class="list">
                <input type="checkbox" name="Hunting and fishing" value="Hunting and fishing"
                  [(ngModel)]="items_kinds['Hunting and fishing']" />Hunting and fishing
              </li>
              <li class="list">
                <input type="checkbox" name="Biking" value="Biking" [(ngModel)]="items_kinds['Biking']" />Biking
              </li>
              <li class="list">
                <input type="checkbox" name="Rock Climbing" value="Rock Climbing"
                  [(ngModel)]="items_kinds['Rock Climbing']" />Rock Climbing
              </li>
              <li class="list"></li>
            </ul>
          </div>
        </li>
      </div>
      <!-- choice categories end here -->
    </section>
    <!-- Section: Condition -->

    <!-- Section: Average -->
    <!-- <section class="mb-4">
      <h6 class="font-weight-bold mb-3">Avg. Customer Review</h6>

      <a href="#!">
        <ul class="rating">
          <li>
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-star-fill"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
              />
            </svg>
          </li>
          <li>
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-star-fill"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
              />
            </svg>
          </li>
          <li>
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-star-fill"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
              />
            </svg>
          </li>
          <li>
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-star-fill"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
              />
            </svg>
          </li>
          <li>
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-star-fill"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
              />
            </svg>
          </li>
        </ul>
      </a> -->

    <!-- Section: Average -->

    <!-- Section: Price -->
    <section class="mb-4">
      <h6 class="font-weight-bold mb-3">Price</h6>

      <!-- <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios1"
          value="25"
          checked
        />
        <label class="form-check-label" for="exampleRadios1">
          UNDER 25 Dt
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios1"
          value="50"
          checked
        />
        <label class="form-check-label" for="exampleRadios1">
          25 Dt TO 50 Dt
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios1"
          value="100"
          checked
        />
        <label class="form-check-label" for="exampleRadios1">
          50 Dt TO 100 Dt
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios1"
          value="200"
          checked
        />
        <label class="form-check-label" for="exampleRadios1">
          100 Dt TO 200 Dt
        </label>
      </div>

      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="exampleRadios"
          id="exampleRadios1"
          value="above"
          checked
        />
        <label class="form-check-label" for="exampleRadios1">
          200 Dt & ABOVE
        </label>
      </div>

    </section> -->
      <form class="min-max">
        <div class="d-flex align-items-center mt-4 pb-1">
          <div class="md-form md-outline my-0">
            <input id="from" type="text" class="form-control mb-0" />
            <label for="form">Dt Min</label>
          </div>
          <p class="px-2 mb-0 text-muted">-</p>
          <div class="md-form md-outline my-0">
            <input id="to" type="text" class="form-control mb-0" />
            <label for="to">Dt Max</label>
          </div>
        </div>
      </form>
      <!-- Section: Price -->
    </section>
    <!-- Section: Filters -->
    <!-- </section> -->
    <div class="buttons">
      <button type="button" class="btn btn-primary btn-sm mr-1 mb-2" (click)='filterItems()'>
        <i class="fa fa-search" aria-hidden="true"></i> Search
      </button>
      <button type="button" class="btn btn-primary btn-sm mr-1 mb-2" (click)=' getAllData()'>
        <i class="fa fa-undo" aria-hidden="true"></i>
        Get all Data
      </button>
    </div>
    <!-- </section> -->
    <!-- Section: Sidebar -->
  </section>
</section>