.card {
  position: relative;
  padding: 25px;
  width: 90%;
  margin-left: 5%;
  padding-left: 10px;
}

#shopBy {
  text-align: center;
}

ul.rating li {
  display: inline;
  margin-left: 2%;
}

.form-check {
  margin-top: 4%;
}

li {
  list-style-type: none;
}

.list {
  text-align: left;
}

.buttons{
  text-align: center;
}

.min-max{
  text-align: center;
}
