<!-- Masthead-->
<header class="masthead">
  <div class="container intro">
    <div class="masthead-subheading"></div>
    <div class="masthead-heading text-uppercase">Welcome To JIPPI</div>
    <h2 class="text-muted">Best shopping experience</h2>
    <h3 class="text-muted">Best quality items</h3>
    <br />
    <br />
    <a
      class="btn btn-info btn-xl text-uppercase js-scroll-trigger"
      [routerLink]="['shop/items']"
      >Shop now
    </a>
  </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Services</h2>
      <br />
      <br />
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-shopping-basket" aria-hidden="true"></i>
        </span>
        <h4 class="my-3">Shop</h4>
        <p class="text-muted">
          Have access to see all the items from the bigest shop ever, with all
          the items you know and you don't
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-truck" aria-hidden="true"></i>
        </span>
        <h4 class="my-3">Delivery</h4>
        <p class="text-muted">
          You will get your items command when you are in your home, just passe
          it and we bring it to you
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-credit-card" aria-hidden="true"></i>
        </span>
        <h4 class="my-3">Pay Online</h4>
        <p class="text-muted">
          You can pay online with the best secure payment Technology ever,
          becouse we care about you us a jippi's member
        </p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
