<form class="text-center border border-light p-5" action="#!">
  <p class="h4 mb-4">Add an item to your shop</p>

  <p>Please fill the descriptions down bellow</p>

  <!--Item Name -->
  <input
    name="itemName"
    type="text"
    id="defaultSubscriptionFormPassword"
    class="form-control mb-4"
    placeholder="Item name"
    [(ngModel)]="itemName"
  />

  <!--Item price -->
  <input
    name="itemPrice"
    type="number"
    id="defaultSubscriptionFormPassword"
    class="form-control mb-4"
    placeholder="Item price"
    [(ngModel)]="itemPrice"
  />

  <!-- description -->
  <input
    name="itemDescription"
    type="textarea"
    id="defaultSubscriptionFormEmail"
    class="form-control mb-4"
    placeholder="Description"
    [(ngModel)]="itemDescription"
  />

  <!-- category -->

  <label for="sel1">Choose a category :</label>
  <select
    class="form-control"
    id="sel1"
    (change)="selectCategoryHandler($event); show()"
  >
    <option value="clothing">clothing</option>
    <option value="electronics">electronics</option>
    <option value="Outdoor">Outdoor</option>
    <option value="Toys">Toys</option>
  </select>

  <!-- kind -->

  <label for="sel1">Choose a kind :</label>
  <select
    class="form-control"
    id="sel1"
    (change)="selectKindHandler($event); show()"
  >
    <option *ngFor="let kind of listKind" value="{{ kind }}">
      {{ kind }}
    </option>
  </select>
  <br />
  <!-- Item image -->
  <input
    (change)="chooseAnImage($event)"
    name="itemImage"
    type="file"
    id="defaultSubscriptionFormEmail"
    class="form-control mb-4"
  />

  <!-- Item rate -->
  <input
    name="itemRating"
    type="number"
    id="defaultSubscriptionFormEmail"
    class="form-control mb-4"
    placeholder="Rating"
    [(ngModel)]="itemRating"
  />
  <img
    [src]="url ? url : 'https://tipsmake.com/data/thumbs/how-to-hide-facebook-profile-picture-thumb-EhRnrBzAY.jpg'"
    class="img-fluid"
    alt="Responsive image"
  />

  <!-- Add button -->
  <button
    class="btn btn-info btn-block"
    type="submit"
    (click)="saveItem(); show()"
  >
    Add to my shop
  </button>
</form>
