<div class="d-md-flex h-md-100 align-items-center">

    <!-- First Half -->

    <div class="col-md-6 p-0 bg-indigo h-md-100">

        <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">

            <div class="logoarea pt-5 pb-5">

                <img src="/assets/delivery-truck (1).png" />
                <br />
                <br />
                <button type="button" class="btn btn-outline-light">Delivery</button>
            </div>
        </div>
    </div>

    <!-- Second Half -->

    <div class="col-md-6 p-0 bg-white h-md-100">

        <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">

            <div class="logoarea pt-5 pb-5">
                <img src="/assets/take-away.png" />
                <br />
                <br />
                <button type="button" class="btn btn-outline-primary" (click)="onsite()">On site</button>
            </div>
        </div>
    </div>

</div>