<div class="product-grid6">
  <div class="product-image6">
    <a href="#">
      <img class="item-image" src="{{item.itemImage}}">
    </a>
  </div>
  <div class="product-content">
    <h3 class="title"><a href="#">{{ item.itemName }}</a></h3>
    <span>{{ item.itemKind }}</span>
    <div class="price">{{ item.itemPrice }} TD
    </div>
  </div>
  <ul class="social">
    <li><a (click)="getItemId(item);moreDetails()" data-tip="Quick View"><i class="fa fa-search"></i></a>
    </li>
    <li><a (click)="addFun()" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
  </ul>
</div>