<!-- <div class="container" style="margin-top: 3%">
  <h1>Edit Profile</h1>
  <hr />
  <div class="row">
    <div class="col-md-3">
      <div class="text-center">
        <img id="avatar" [src]="
            imgURL
              ? imgURL
              : avatar ||
                'https://www.flaticon.com/svg/static/icons/svg/3061/3061341.svg'
          " class="avatar img-circle" alt="avatar" width="100%" />
        <h6>Upload a different photo...</h6>

        <input type="file" #file class="btn btn-sm btn-light mr-4"
          (change)="preview(file.files); onSelectFile($event)" />
      </div>
    </div>

    <div class="col-md-9 personal-info">
      <div class="alert alert-info alert-dismissable" *ngIf="alert === 'Success update'">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
        <strong>Success!</strong> {{ alertt }}
      </div>
      <div class="alert alert-danger alert-dismissible" *ngIf="alert === 'Some think rong'">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
        <strong>Error!</strong> {{ alertt }}
      </div>
      <h3>Personal info</h3>

      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">Company label:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" name="companyName" [(ngModel)]="companyName" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Phone number:</label>
          <div class="col-lg-8">
            <input class="form-control" type="tel" name="phoneNumber" [(ngModel)]="phoneNumber" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" type="email" name="companyEmail" [(ngModel)]="companyEmail" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Adress:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" name="location" [(ngModel)]="location" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Password:</label>
          <div class="col-md-8">
            <input class="form-control" type="password" name="companyPassword" [(ngModel)]="companyPassword" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Confirm password:</label>
          <div class="col-md-8">
            <input class="form-control" type="password" name="companyConfirmPassword"
              [(ngModel)]="companyConfirmPassword" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input type="button" class="btn btn-primary" value="Save Changes" (click)="sendUpdate()" />
            <span></span>
            <input type="reset" class="btn btn-default" value="Cancel" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr /> -->









<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="main-container">
  <div class="container">
    <div class="row flex-lg-nowrap">
      <div class="col">
        <div class="row">
          <div class="col mb-3">
            <div class="card">

              <!-- <div class="alert alert-info alert-dismissable" *ngIf="alertt === 'Success update'">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fas fa-check"></i>
                <strong> Success!</strong> {{ alertt }}
              </div>

              <div class="alert alert-danger alert-dismissible" *ngIf="alertt === 'Some think rong'">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fas fa-times"></i>
                <strong>Error!</strong> {{ alertt }}
              </div> -->

              <div class="card-body">
                <div class="e-profile">
                  <div class="row">
                    <div class="col-12 col-sm-auto mb-3">
                      <div class="mx-auto" style="width: 140px;">
                        <img class="d-flex justify-content-center align-items-center rounded"
                          style="height: 140px; width: 155px ; background-color: rgb(233, 236, 239);" [src]="
            imgURL
              ? imgURL
              : avatar ||
                'https://www.flaticon.com/svg/static/icons/svg/3061/3061341.svg'
          " />
                      </div>
                    </div>
                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                      <div class="text-center text-sm-left mb-2 mb-sm-0">
                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{companyName}}</h4>
                        <div class="mt-2">
                          <span class="btn btn-primary btn-file">
                            <i class="fas fa-camera"></i>
                            Change Photo <input type="file" #file class="form-control"
                              (change)="preview(file.files); onSelectFile($event)" />
                          </span>

                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="nav nav-tabs">
                    <li class="nav-item {{desactivate}} nav-link" (click)="changeSettings()" style="cursor: pointer;">
                      Settings
                    </li>
                    <li class="nav-item {{active}} nav-link" (click)="changePassword()" style="cursor: pointer;">Change
                      password</li>
                  </ul>
                  <div class="tab-content pt-3">
                    <div class="tab-pane active">
                      <div class="row" *ngIf="changePass === false">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>First Name</label>
                                <input class="form-control" type="text" name="companyName" placeholder="First Name"
                                  value="{{companyName }}" [(ngModel)]="companyName">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="text" name="companyEmail" value="{{companyEmail}}"
                                  placeholder="{{companyEmail}}" [(ngModel)]="companyEmail">
                              </div>
                              <div class="form-group">
                                <label>Phone Number</label>
                                <input class="form-control" type="text" name="phoneNumber" value="{{phoneNumber}}"
                                  placeholder="phone Number" [(ngModel)]="phoneNumber">
                              </div>
                              <label>Choice your company yime working</label>

                              <div class="form-group">
                                <div class="btn-group">
                                  <!-- <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Time working
                                  </button> -->
                                  <select value="{{timing || 'dont have specified
                                      time'}}" class="form-control" (change)="selectTime($event)">
                                    <option value="12 hours / 6 days">12 hours / 6 days</option>
                                    <option value="24 hours / 6 days">24 hours / 6 days</option>
                                    <option value="12 hours / 7 days">12 hours / 7 days</option>
                                    <option value="24 hours / 7 days">24 hours / 7 days</option>
                                    <div class="dropdown-divider"></div>
                                    <option value="dont have specified
                                      time">dont have specified
                                      time</option>
                                  </select>
                                </div>
                              </div>

                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Adress</label>
                                <input class="form-control" type="text" value="{{adress || 'Unknown'}}"
                                  placeholder="Your location" name="location" [(ngModel)]="location">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngIf="changePass === true">
                        <div class="col-12 col-sm-6 mb-3">
                          <div class="mb-2"><b>Change Password</b></div>
                          <div class="row">
                            <div class="col">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>New Password</label>
                                <input class="form-control" type="password" placeholder="••••••" name="companyPassword"
                                  [(ngModel)]="companyPassword">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                                <input class="form-control" type="password" placeholder="••••••"
                                  name="companyConfirmPassword" [(ngModel)]="companyConfirmPassword"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col d-flex justify-content-end" *ngIf="changePass === false">
                          <button class="btn btn-primary" type="submit" style="margin-left:1%;"
                            (click)="sendUpdate()">Save Changes</button>
                          <button class="btn btn-secondary" type="submit" style="margin-left:1%;"
                            type="reset">Cancel</button>
                        </div>
                        <div class="col d-flex justify-content-end" *ngIf="changePass === true">
                          <button class="btn btn-primary" type="submit" style="margin-left:1%;"
                            (click)="updatPassword()">Save Changes dd</button>
                          <button class="btn btn-secondary" type="submit" style="margin-left:1%;"
                            type="reset">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>